/**** COLOR SCHEME *****
blue - #337ab7
light-blue - #5bc0de
red - #d9534f
yellow - #f0ad4e
green - #5cb85c
grey/gray - #999999
***********************/

/*.darkBG {
	background: #000;
	color: #fff;
}*/

.login-panel, .register-panel {
	margin-top: 25%;
	/*margin-left:15%;*/
}

.login-panel .title, .register-panel .title {
	margin-top:-10px !important;
	margin-bottom:20px !important;
}

.nobold-label {
	font-weight:normal;
}

#searchBox {
    width:80%;
}

.white-background {
    background: white;
}

.forum-nav, .forum-nav:hover, .home-nav, .home-nav:hover {
    color: white;
}

#settings-table {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#settings-table th, td {
    text-align: left !important;
    border-top: none !important;
}

.bigger-h1 {
    font-size:100px;
    margin-top:35%;
}

th, td {
    text-align: center;
}

.upperMargin {
	margin-top: 2em;
}

.smallUpperMargin {
	margin-top: .5em;
}

.smallUpperMargin div {
	text-align: left;
	font-weight: normal;
}

body#login  {
    background-image: url("../media/balloons1.jpg");
    background-color: #cccccc;
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}

.btn-success#login-btn, .btn-success#register-btn {
	color: #fff;
	background-color: #337ab7;
	border-color: #5bc0de;
}

.btn-success.active#login-btn, 
.btn-success.focus#login-btn, 
.btn-success:active#login-btn, 
.btn-success:focus#login-btn, 
.btn-success:hover#login-btn, 
.open>.dropdown-toggle.btn-success#login-btn {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
}

.panel-primary {
	border-color: #337ab7;
}

.panel-primary>.panel-heading {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green .panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.panel-yellow {
	border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}

.panel-red {
	border-color: #d9534f;
}

.panel-red .panel-heading {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}

.panel-light-blue {
	border-color: #5bc0de;
}

.panel-light-blue .panel-heading {
	border-color: #5bc0de;
	color: #fff;
	background-color: #5bc0de;
}

.panel-light-blue a {
	color: #5bc0de;
	text-decoration: none;
}

.panel-grey {
	border-color: #999999;
}

.panel-grey .panel-heading {
	border-color: #999999;
	color: #fff;
	background-color: #999999;
}

.panel-grey a {
	color: #999999;
	text-decoration: none;
}

a {
	color: #337ab7;
	text-decoration: none;
}

/*** TOP BOTTOM PANELS FOR ASSESSMENTS ***/
.top-panel {
	background-color: #fff;
	border: 1px solid transparent;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.bottom-panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

/*** CHANGE COLOR OF DIV ****/
.blue-div {
	border-color: #337ab7;
	color: #fff;
	background-color: #337ab7;
}

.blue-border {
	border-color: #337ab7;
	color: #337ab7;
}

.light-blue-div {
	border-color: #5bc0de;
	color: #fff;
	background-color: #5bc0de;
}

.light-blue-border {
	border-color: #5bc0de;
	color: #5bc0de;
}

.green-div {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.green-border {
	border-color: #5cb85c;
	color: #5cb85c;
}

.yellow-div {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}

.yellow-border {
	border-color: #f0ad4e;
	color: #f0ad4e;
}

.red-div {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}

.red-border {
	border-color: #d9534f;
	color: #d9534f;
}

.grey-div {
	border-color: #999999;
	color: #fff;
	background-color: #999999;
}

.grey-border {
	border-color: #999999;
	color: #999999;
}

.black-div {
	border-color: #000;
	color: #fff;
	background-color: #000;
}

.black-border {
	border-color: #000;
	color: #000;
}

/*** END CHANGE COLOR OF DIV ****/

/*** ASSESSMENT DIV VIEW HIDE/SHOW 
Might have to do in js because this is static
***/
.full-report, .full-assessment {
	display: none;
}

label.upload {
    width:78px;
    height:10px;
    position:relative;
    
}

label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: 0px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}